<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696142556693-mcmkc57hvj9su33nass04np59g5luj7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696142556693-mcmkc57hvj9su33nass04np59g5luj7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAlePf30sqJRDjeAT2waa3HuyCWPwaYJVw</string>
	<key>GCM_SENDER_ID</key>
	<string>696142556693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.warrantyNoty</string>
	<key>PROJECT_ID</key>
	<string>warranty-noty</string>
	<key>STORAGE_BUCKET</key>
	<string>warranty-noty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696142556693:ios:c5ec48ef76613795e6a81c</string>
</dict>
</plist>